<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>Document</title>
</head>
<body>
    <% include ../partials/header %>
    <main>
        <div class="container">
            Está é a página principal<br>
            Está é a mensagem: <%=message%>
        </div>    
    </main>
    <% include ../partials/footer %>    
</body>
</html>