<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>Document</title>
</head>
<body>
    <% include ../partials/header %>
    <main>
        Está é a página principal<br>
        Está é a mensagem: <%=message%>
    </main>
    <% include ../partials/footer %>    
</body>
</html>